// these 2 rules might be better combined in SASS (not plain CSS)
main img {
//        max-width: 100%; height: auto;     ... doesn't appear to be needed
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}
main a:hover img {
  -webkit-box-shadow: 0px 0px 20px $green-300;
          box-shadow: 0px 0px 20px $green-300;
}

// who knows why these 2 theme colours weren't included in _sass/buttons.scss
// (white on yellow would be too low contrast, so not including it now either)
.btn-red {
  @include btn-color($white, $red-300);
}
